.tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-left: 80vh;
}
.celda {
  border: 2px solid black;
  padding: 20px;
  width: 40px; /* Ancho fijo */
  height: 80px;
}
.title {
  margin-left: 75vh;
}
.boton {
  margin-left: 100vh;
}